body {
	background: #82ff9d;
	margin: 0;
	padding: 0;
}

.container {
	width: 300px;
	height: 200px;
	background: #62c176;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

.container:after {
	content:  '';
	position: absolute;
	bottom: -30px;
	background: #000;
	width: 90%;
	height: 3px;
	left: 5%;
	border-radius: 50%;
	filter: blur(5px);
}