body {
	background: #003444;
	margin: 0;
	padding: 0;
}

.container {
	margin: 100px auto;
	width: 600px;
}

.imageBox {
	position: relative;
	overflow: hidden;
}

.imageBox img {
	width: 100%;
}

.textBox {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: rgba(455,455,455,.2);
	transition: .5s;
}

.textBox h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	font-family: arial;
}

.imageBox:hover .textBox {
	left: 0%;
}

.imageBox:hover img {
	transform: scale(1.2);
}