body {
	background: #292929;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: arial;
	height: 100vh;
}

.cardBox {
	perspective: 500px;
	margin: 15px;
}

.card {
	position: relative;
	width: 150px;
	height: 150px;
	background: #fff;
	transform-style: preserve-3d;
	transition: .5s ease;
	box-shadow: 0 30px 30px rgba(0, 0, 0, .5); 
}

.facebook {
	background: #3b5998;
}
.twitter {
	background: #00aced;
}
.google {
	background: #dd4b39;
}

.card-front, .card-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	color: #fff;
	backface-visibility: hidden;
}

.card-front {
	display: flex;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}
.card-back {
	display: flex;
	font-size: 30px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.cardBox:hover .card {
	transform: rotateY(180deg);
}

.card-back {
	transform: rotateY(180deg);
}