body {
	background: #4a4a4a;
	margin: 0;
	padding: 0;
}

.container .box {
	width: 1000px;
	margin: 140px auto;
	background-color: #fff;
	display: table;
}

.container .box .box-row {
	display: table-row;
}

.container .box .box-row .box-cell {
	display: table-cell;
	width: 25%;
	padding: 20px;
	font-family: arial;
}

.container .box .box-row .box-cell.box1
{
	background-color: grey;
}
.container .box .box-row .box-cell.box2
{
	background-color: #fbff23;
}
.container .box .box-row .box-cell.box3
{
	background-color: orange;
}
.container .box .box-row .box-cell.box4
{
	background-color: white;
}