body {
	background: #90a7ff;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 250px auto;
	text-align: center;
	font-size: 10em;
	color: #fff;
	font-family: arial;
	font-weight: bold;
	transition: .5s;
}

h1:hover {
	text-shadow: 0 1px 0 #ccc, 0 1px 15px rgba(0,0,0,.2), 0 2px 0 #ccc ,0 3px 0 #ccc ,0 4px 0 #ccc, 0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc
	,0 9px 0 #ccc,0 10px 0 #ccc,0 11px 0 #ccc,0 12px 0 #ccc,0 13px 0 #ccc, 0 20px 30px rgba(0, 0, 0, .5) ;
}